<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doug.healthoclock">

    <application
        android:allowBackup="true"
        android:icon="@drawable/healthoclock_icone_branco_42x42"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controller.LoginAcitvity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.WelcomeActivity"
            android:theme="@style/AppViews" />
        <activity
            android:name=".Controller.MenuActivity"
            android:theme="@style/AppViews" />
        <activity
            android:name=".Controller.CadastrarControleExameActivity"
            android:theme="@style/AppViews" />
        <activity android:name=".Controller.ControleExameActivity" />

        <activity android:name=".Controller.ListaControleExameActivity"></activity>
    </application>

</manifest>